In [1]:
import json
import requests
import pandas as pd

url = "https://api.thedogapi.com/v1/breeds"
resp = requests.get(url)
resp_json = json.loads(resp.text)
df = pd.DataFrame(resp_json)
df

,weight,height,id,name,bred_for,breed_group,life_span,temperament,origin,reference_image_id,country_code,description,history
0,"{'imperial': '6 - 13', 'metric': '3 - 6'}","{'imperial': '9 - 11.5', 'metric': '23 - 29'}",1,Affenpinscher,"Small rodent hunting, lapdog",Toy,10 - 12 years,"Stubborn, Curious, Playful, Adventurous, Activ...","Germany, France",BJa4kxc4X,NaN,NaN,NaN
1,"{'imperial': '50 - 60', 'metric': '23 - 27'}","{'imperial': '25 - 27', 'metric': '64 - 69'}",2,Afghan Hound,Coursing and hunting,Hound,10 - 13 years,"Aloof, Clownish, Dignified, Independent, Happy","Afghanistan, Iran, Pakistan",hMyT4CDXR,AG,NaN,NaN
2,"{'imperial': '44 - 66', 'metric': '20 - 30'}","{'imperial': '30', 'metric': '76'}",3,African Hunting Dog,A wild pack animal,NaN,11 years,"Wild, Hardworking, Dutiful",,rkiByec47,NaN,NaN,NaN
3,"{'imperial': '40 - 65', 'metric': '18 - 29'}","{'imperial': '21 - 23', 'metric': '53 - 58'}",4,Airedale Terrier,"Badger, otter hunting",Terrier,10 - 13 years,"Outgoing, Friendly, Alert, Confident, Intellig...","United Kingdom, England",1-7cgoZSh,NaN,NaN,NaN
4,"{'imperial': '90 - 120', 'metric': '41 - 54'}","{'imperial': '28 - 34', 'metric': '71 - 86'}",5,Akbash Dog,Sheep guarding,Working,10 - 12 years,"Loyal, Independent, Intelligent, Brave",,26pHT3Qk7,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,"{'imperial': '15 - 19', 'metric': '7 - 9'}","{'imperial': '13 - 16', 'metric': '33 - 41'}",259,Wire Fox Terrier,"Vermin hunting, fox bolting",NaN,13 – 14 years,"Fearless, Friendly, Bold, Keen, Alert, Quick",NaN,SJ6f2g9EQ,NaN,NaN,England
168,"{'imperial': '45 - 70', 'metric': '20 - 32'}","{'imperial': '20 - 24', 'metric': '51 - 61'}",260,Wirehaired Pointing Griffon,"Gundog, ""swamp-tromping"", Flushing, pointing, ...",Sporting,12 - 14 years,"Loyal, Gentle, Vigilant, Trainable, Proud",NaN,Bkam2l9Vm,NaN,NaN,NaN
169,"{'imperial': '45 - 65', 'metric': '20 - 29'}","{'imperial': '21.5 - 25', 'metric': '55 - 64'}",261,Wirehaired Vizsla,NaN,Sporting,12 - 14 years,NaN,NaN,r1I4hl5Em,NaN,NaN,NaN
170,"{'imperial': '9 - 31', 'metric': '4 - 14'}","{'imperial': '10 - 23', 'metric': '25 - 58'}",262,Xoloitzcuintli,NaN,Non-Sporting,12 - 14 years,"Cheerful, Alert, Companionable, Intelligent, P...",NaN,HkNS3gqEm,NaN,NaN,NaN
171,"{'imperial': '4 - 7', 'metric': '2 - 3'}","{'imperial': '8 - 9', 'metric': '20 - 23'}",264,Yorkshire Terrier,Small vermin hunting,Toy,12 - 16 years,"Bold, Independent, Confident, Intelligent, Cou...",NaN,B12BnxcVQ,NaN,NaN,NaN

In [3]:
df.to_csv('dog_breeds_from_thedogapi.csv')

In [7]:
[i for i in df.name if 'Terrier' in i]

['Airedale Terrier',
 'American Pit Bull Terrier',
 'American Staffordshire Terrier',
 'Australian Terrier',
 'Bedlington Terrier',
 'Border Terrier',
 'Boston Terrier',
 'Bull Terrier',
 'Bull Terrier (Miniature)',
 'Cairn Terrier',
 'English Toy Terrier',
 'Glen of Imaal Terrier',
 'Irish Terrier',
 'Norfolk Terrier',
 'Norwich Terrier',
 'Rat Terrier',
 'Scottish Terrier',
 'Silky Terrier',
 'Smooth Fox Terrier',
 'Soft Coated Wheaten Terrier',
 'Staffordshire Bull Terrier',
 'Tibetan Terrier',
 'Toy Fox Terrier',
 'West Highland White Terrier',
 'Wire Fox Terrier',
 'Yorkshire Terrier']

In [16]:
df.breed_group.value_counts()

breed_group
Working         30
Sporting        26
Hound           22
Herding         21
Terrier         19
Toy             18
Non-Sporting    17
Mixed            2
                 1
Name: count, dtype: int64

In [11]:
df[df.breed_group == "Herding"]['name']

19           Australian Cattle Dog
20               Australian Kelpie
21             Australian Shepherd
29                  Bearded Collie
30                       Beauceron
32                Belgian Malinois
33                Belgian Tervuren
40                   Border Collie
43            Bouvier des Flandres
47                          Briard
54            Cardigan Welsh Corgi
55           Catahoula Leopard Dog
78                Finnish Lapphund
82             German Shepherd Dog
110    Miniature American Shepherd
117           Old English Sheepdog
121           Pembroke Welsh Corgi
129                           Puli
130                           Pumi
142              Shetland Sheepdog
154               Swedish Vallhund
Name: name, dtype: object

In [13]:
df.iloc[78]

weight                {'imperial': '33 - 53', 'metric': '15 - 24'}
height                {'imperial': '16 - 21', 'metric': '41 - 53'}
id                                                             110
name                                              Finnish Lapphund
bred_for                                          Herding reindeer
breed_group                                                Herding
life_span                                            12 - 15 years
temperament             Friendly, Keen, Faithful, Calm, Courageous
origin                                                         NaN
reference_image_id                                       S1KMGg5Vm
country_code                                                   NaN
description                                                    NaN
history                                                        NaN
Name: 78, dtype: object